<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <IPChecker.Properties.Settings>
            <setting name="RunSystemStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopUpNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalUpdateValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrackEventTopics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventPosts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventPublications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventAds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntervalUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventPoliceNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackEventTaxNews" serializeAs="String">
                <value>True</value>
            </setting>
        </IPChecker.Properties.Settings>
    </userSettings>
</configuration>